@import '../variables';

.#{$app-prefix-header}-container {
    align-items: center;
    background-color: var(--panel-header-app-background-color);
    color: var(--panel-header-app-icon-color);
    display: flex;
    height: var(--panel-header-app-height);
    justify-content: space-between;
    padding: 0em 0.5em;
    //width: $vw-100;

    .header-menu {
        align-items: center;
        display: block;
        cursor: pointer;
        background-color: $white;
        border-radius: $per-50;
        display: flex;
        color: var(--panel-header-app-icon-menu-font-color);
        height: $pix-40;
        justify-content: center;
        width: $pix-40;
    }

    .header-info {
        display: flex;
    }
}

@media (min-width: $resolution-35em) {
    .#{$app-prefix-header}-container {
        padding: 0;
        width: $per-100;

        .header-menu {
            display: none;
        }
    }
}