//resolutions
$resolution-35em: 35em;

//colors
$white: #fff;

//sizes
$pix-1: 1px;
$pix-2: 2px;
$pix-5: 5px;
$pix-16: 16px;
$pix-20: 20px;
$pix-30: 30px;
$pix-40: 40px;
$pix-50: 50px;
$pix-60: 60px;
$pix-100: 100px;
$pix-150: 150px;
$pix-200: 200px;
$pix-250: 250px;

$per-50: 50%;
$per-100: 100%;

$vh-100: 100vh;
$vw-100: 100vw;

//mf-header
$app-prefix-header: mf-header;

//mf-menu
$app-prefix-menu: mf-menu;

$panel-menu-width: $pix-250;
$panel-menu-short-width: $pix-50;

$panel-menu-z-index: 1;